.card {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 140px;
}

.card img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

.clickable {
  cursor: pointer;
}
